@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  @apply px-5 mx-auto;
}

.repeate-Effect {
  background: linear-gradient(0deg, #000, rgba(0, 0, 0, 0.607));
  /* background-color: rgba(0, 0, 0, 0.507); */
}
.swiper-button-prev,
.swiper-button-next {
  @apply !hidden;
}
.swiper-pagination-bullet {
  @apply !bg-green-600;
}

.card-itemss,
.card-itemss > img,
.info-box {
  transition: 0.35s;
}

.card-itemss:hover img {
  scale: 1.1;
}
.card-itemss .info-box {
  opacity: 0;
}
.card-itemss:hover .info-box {
  opacity: 1;
}

.active {
  @apply bg-gray-950 transition-all duration-500;
}

header{
  top: -2px;
}
